:root{
    --purple: #675af0;
    --gold: #ebb44a;
    --gray: #cbc6c6;
    --footer-black: #30333d;
    --aside-color: #2a2a2a;
    --background-color: #3B323B;
    --black: #2B2A2A;
    --light: #8A7E7E;
    --strok: #D2D2D2;

}