:root{
    --purple: #675af0;
    --gold: #ebb44a;
    --gray: #cbc6c6;
    --footer-black: #30333d;
    --aside-color: #2a2a2a;
    --background-color: #3B323B;
    --text-color: #fff;
}

.dark-theme{
    --aside-color: #fff;
    --text-color: #2B2A2A;
    --background-color: #F6F6F6;
    --black: #2B2A2A;
    --light: #8A7E7E;
    --light-2: #E2E2E2;
    --strok: #D2D2D2;
    --white: #FFFFFF;


}