*{
    font-family: Manrope;
    /* transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear; */
}

body{
    display: flex;
    background-color: #F6F6F6;
}
.darhTheme aside{
    background-color: var(--black);
    
}
.darhTheme header{
    background-color: var(--black);
    
}
.darhTheme{
    color: #FFF !important;
    background-color: #3B323B;
    
}
.darhTheme .daha-etrafli-imtahan-page{
    background-color: #302B2B;
    
}
.darhTheme .image{
    /* margin-top: 15px; */
    width: 426px;
    height: 270px;
    content: url("/icons/Tiny\ students\ learning\ online\ lesson\ via\ laptop\ 1\ \(no\ bg\).png");
}
.darhTheme .users{
    background-color: #302B2B;
}
.darhTheme li .icon-Dashboard{
    content:url(/icons/dashboard-icon-white.png);
}
.darhTheme li .icon-Imtahan{
    content:url(/icons/imtahanlar-icon-white.png);
}
.darhTheme li .icon-onlinevideos{
    content:url(/icons/video-play-icon-white.png);
}
.darhTheme li .icon-scoreboard{
    content:url(/icons/chart-icon-white.png);
}
.darhTheme li .icon-haqqimizda{
    content:url(/icons/stickynote.png);
}
.mathQuiz{
    height: 110px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
    color: var(--purple);
}

aside{
    position: sticky;
    top: 0;
    width: 310px ;
    height: 100vh;
    box-shadow: 0px 0px 40px -3px rgba(0, 0, 0, 0.15);
}
a{
    color: var(--black);
    font-size: 16px;
    font-weight: 500;
}
li{
    padding-left: 78px;
    width: 100%;
    height: 80px;
    display:flex ;
    align-items: center;
}
li .options{
    width: 194px;
    height: 47px;
    display:flex;
    align-items: center;
    border-radius: 12px;
}
li .options:hover{
    transition: all 0.3s ease-in-out !important;
    padding-left: 15px;
    background-color: #7f75ea;
    color: var(--white);
    -webkit-transition: all 0.3s ease-in-out !important;
    -moz-transition: all 0.3s ease-in-out !important;
    -ms-transition: all 0.3s ease-in-out !important;
    -o-transition: all 0.3s ease-in-out !important;
}
li #options-second{
    padding-left: 25px;
    background-color: #7f75ea;
    color: var(--white);
}
li #options-first:hover img{
    opacity: 0.7;
    content:url(/icons/dashboard-icon-white.png);
}
li #options-second:hover img{
    opacity: 0.7;
    content:url(/icons/imtahanlar-icon-white.png);
}
li #options-third:hover img{
    opacity: 0.7;
    content:url(/icons/video-play-icon-white.png);
}
li #options-fourth:hover img{
    opacity: 0.7;
    content:url(/icons/chart-icon-white.png);
}
li #options-fifth:hover img{
    opacity: 0.7;
    content:url(/icons/stickynote.png);
}


li .selected{
    background-color: var(--purple);
    transition: all 0.1s ease-in-out;
    padding-left: 25px;
    color: var(--white);
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}

li .selected .icon-Dashboard{
    content:url(/icons/dashboard-icon-white.png);
}
li .icon-Imtahan{
    content:url(/icons/imtahanlar-icon-white.png);
}
li .selected .icon-onlinevideos{
    content:url(/icons/video-play-icon-white.png);
}
li .selected .icon-scoreboard{
    content:url(/icons/chart-icon-white.png);
}
li .selected .icon-haqqimizda{
    content:url(/icons/stickynote.png);
}

img{
    width: 24px;
    height: 24px;
}
aside span{
    margin-left: 12px;
}

.mode-changer{
    padding-left: 78px;
    height: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mode-changer p{
    font-size: 16px;
    font-weight: 500;
}
.mode-box{
    width: 63px;
    height: 30px;
    border-radius: 30px;
    margin-top: 10px;
    background-color: var(--gray);
    display:flex ;
    align-items: center;
    padding: 0 4px;
    display: flex;
}
.mode-box:hover{
    cursor: pointer;
}

.mode-circle{
    width: 22px;
    height: 22px;
    border-radius: 17px;
    background-color: var(--white);
    transition: all 500ms ease-in-out;

}
.toDarkMode{
    color: var(--white) !important;    
}
.toDarkMode + .arrow-down{
    content: url(/icons/arrow-down-white.png);
}
.toDarkMode + .mode-box{
    background-color: var(--purple);
}
/* .toDarkMode + .mode-box .mode-circle{

} */
.toDarkMode .mode-circle{
    transform: translateX(34px);    background-color: var(--black);
}

/* header */

header{
    display: flex;
    width: 100%;
    height: 102px;
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;
    background-color: var(--white);
    
 }
.container{
    width: calc(100% - 310px);
}
header .user{
    display: flex;
    align-items: center;
}
header h2{
    font-weight: 700;
    color: var(--black);
}
header .user img:nth-child(1){
    width: 53px;
    height: 53px;
    margin-right: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
header .user img:nth-child(1):hover{
    cursor: pointer;
}
header .user img:nth-child(3):hover{
    cursor: pointer;
}
header .user p{
    font-weight: 500;
    margin-right: 12px;
}
.user p:hover{
    cursor: pointer;
}

/* main */

.daha-etrafli-imtahan-page{
    margin: 30px;
    padding: 0 25px 15px 40px;
    background-color: var(--white);
    box-shadow: 0px 0px 32px -3px rgba(0, 0, 0, 0.15);
    overflow: auto;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    height: calc(100vh - 162px);
}
.container2{
    width: 100%;
    height: 270px;
    display: flex;
    justify-content: space-between;
}
.buraxilis-texts{
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 40px;
}
.buraxilis-texts .info-about-exam{
    width: 407px;
    color: var(--light);
    font-size: 16px;
    font-weight: 500;
    
}
.buraxilis-texts .free{
    color: #D44949;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 700;
}
.buraxilis-texts .start-test{
    border-radius: 8px;
    width: 130px;
    height: 43px;
    border: none;
    background-color: var(--purple);
    color: var(--white);
}
.buraxilis-texts .start-test:hover{
    cursor: pointer;
}
.daha-etrafli-imtahan-page .image img{
    width: 426px;
    height: 270px;
    /* margin-top: 15px; */
}
.about-test{
    width: 784px;
    height: 160px;
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
}
.circle{
    background-color: var(--purple);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 96px;
    border-radius: 59px;
    -webkit-border-radius: 59px;
    -moz-border-radius: 59px;
    -ms-border-radius: 59px;
    -o-border-radius: 59px;
}
.content .circle p{
    color: var(--white) !important;
    font-weight: 500 !important;
    font-size: 15px !important;
}
.line{
    width: 193px;
    height: 2px;
    border-top: dashed 2px #8A7E7E;
    align-self: center;
}
.exam-starts, .time, .content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.exam-starts p:nth-child(1), .time p:nth-child(1), .content p:nth-child(1){
    color: var(--black);
    font-size: 16px;
    font-weight: 700;
} 
.exam-starts p:nth-child(3), .time p:nth-child(3), .content p:nth-child(3){
    color: var(--light);
    font-size: 14px;
    font-weight: 700;
}

/* Reytinq */

.reytinq .just-texts{
    width: 100%;
    display: flex;
}
.reytinq .just-texts h2{
    color: var(--black);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}
.toDarkMode .just-texts h2{
    color: var(--white) !important;
}
.red-box{
    width: 450px;
    display: flex;
    margin-left: 500px;
    align-items: flex-end;
    /* flex-grow: 1; */
}
.red-box p{
    color:  #D44949;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 7px;
}
.red-box p:nth-child(2){
    margin-left: 107px;
}
.toDarkMode .just-texts .red-box p{
    color: var(--white) !important;
}
.users{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    padding: 0 62px 0 30px;
    width: 100%;
    height: 62px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 32px -3px rgba(0, 0, 0, 0.15);
}
.users img{
    margin-right: 20px;
}
.users p:nth-child(2){
    margin-right: 400px;
    width: 150px;
}
.users p:nth-child(3){
    margin-right: 100px;
}

/* scrollbar */

/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  /* ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  } */
   
  /* Handle */
  /* ::-webkit-scrollbar-thumb {
      background: var(--purple); 
      border-radius: 10px;
    } */
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #7f75ea; 
  }