*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Manrope;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
    list-style: none;
}
form {
    height: auto;
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    flex-direction: column;
}
header {
    width: 90%;
    height: 103px;
    display: flex;
    justify-content: space-between;
    background: #FFF;
    box-shadow: 0px 0px 32px -3px rgba(0, 0, 0, 0.15);
    padding: 25px 30px 25px 30px;
    border-radius: 14px;
}
#first-part {
    display: flex;
    align-items: center;
    gap: 20px;
}
#icon-left-white {
    background: url(../ICONS/arrow-left.svg);
    width: 40px;
    height: 40px;
    cursor: pointer;
}
#first-part p {
    color: var(--black);
    font-size: 24px;
    font-weight: 700;
}
#last-part {
    display: flex;
    align-items: center;
}
#img-circle {
    width: 53px;
    height: 53px;
    border-radius: 50%;
    border: 1px solid var(--black);
    margin-right: 20px;
    background: url(../IMAGES/pp.jpg);
    background-size: cover;
}
#last-part p{
    color: var(--black);
    font-size: 16px;
    font-weight: 500;
}
#icon-down-white {
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: url(../ICONS/arrow-down.svg);
    margin-left: 12px;
}

main {
    width: 86.4%;
    height: auto !important;
    margin-top: 40px;
    margin-bottom: 27px;
    border-radius: 14px;
    background: #FFF;
    box-shadow: 0px 0px 32px -3px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 77px 50px 77px;
}
#main-header {
    display: flex;
    align-items: end;
    margin-top: 40px;
}
#main-header > :nth-child(1) {
    font-size: 24px;
    font-weight: 700;
    color: var(--black); 
}
#main-header > :nth-child(2) {
    font-size: 20px;
    font-weight: 700;
    color: var(--light) !important;
}
#exam-details {
    display: flex;
    justify-content: space-between;
    gap: 65px;
    margin-top: 40px;
    position: relative;
    margin-bottom: 24px
}
#exam-details > span > label {
    color: var(--black);
    font-size: 16px;
    font-weight: 500;
}
#exam-details > span > div > p {
    color: var(--black);
    font-size: 20px;
    font-weight: 500;
}
#exam-details > span > div {
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid var(--strok, #D2D2D2);
    background: #FFF;
    margin-top: 10px;
}
#bar {
    margin-top: 15px;
    width: 824px;
    border-radius: 10px;
    height: 10px;
    background-color: var(--light-2);
    margin-bottom: 50px;
}
#bar div{
    width: 20%;
    height: 10px;
    border-radius: 10px;
    background-color: var(--purple);
}
.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#name-part{
    display: flex;
    font-size: 20px;
    gap: 5px;
}
#telebe-adi {
    width: 800px;
}
#telebe-adi-icon {
    background: url(../ICONS/user.svg);
    background-size: cover !important;
    width: 26px;
    height: 26px;
}
#imtahan-vaxti {
    width: 300px;
}
#imtahan-vaxti p:nth-child(1) {
    font-size: 18px;
}
#imt-vaxt-icon {
    background: url(../ICONS/timer.svg);
    background-size: cover;
    width: 25px;
    height: 25px;
}
#mode-changer {
    display: flex;
    position: absolute;
    right: 159px;
    margin-top: 50px;
    align-items: center;
    gap: 10px;
}
#mode-changer p{
    color: var(--black);
    font-size: 12px;
    font-weight: 500;
}
#mode-case {
    cursor: pointer;
    display: flex;
    width: calc(1.2*42px);
    height: calc(1.2 * 20px);
    padding: 4px;
    align-items: center;
    border-radius: 30px;
    background: #E2E2E2;
}
#mode-circle {
    width: calc(0.8 * 22px);
    height: calc(0.8 * 22px);
    border-radius: 50%;
    background: #FFF;
}

.lighttodark {
    animation-name: todark;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes todark {
    from {
        padding-left: 4px;
    }
    to {
        padding-left: 29px;
    }
}

.darktolight {
    animation-name: tolight;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    
}

@keyframes tolight {
    from {
        padding-left: 29px;
    }
    to {
        padding-left: 4px;
    }
}

#question{
    width: 100%;
    height: max-content;
    position: relative;
    margin-bottom: 50px;
}
#onepoint {
    position: absolute;
    right: 0;
}
#separate-ques{
    margin-top: 50px;
}
#question-part 
{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}
#question p:nth-child(3) {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--light) !important
}
#next-page {
    margin-top: 20px;
    display: flex;
    width: 180px;
    height: 50px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: var(--purple);
    border: 0;
    outline: 0;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.options {
    cursor: pointer;
    font-size: 17px;
    display: flex;
    height: 58px;
    border-radius: 10px;
    border: 1px solid var(--strok);
    padding: 18px;
    width: 70%;
    margin-bottom: 15px;
    gap: 5px;
    align-items: center;
    transition: background-color 0.25s, color 0.25s;
}

