*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Manrope;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#login-main {
    display: flex;
    width: calc(1335px * 0.75);
    height: calc(859px* 0.75);
    border-radius: 35px;
    background: #F5F5FF;
    overflow: hidden;
}
#login-part {
    margin: 90px;
    padding: 40px;
    width: calc(455px * 0.75);
    height: calc(620px * 0.75);
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 32px -3px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}
#login-part > p:nth-child(1) {
    color: #2B2A2A;
    font-size: 22px;
    font-weight: 700;
}
#login-part > p:nth-child(2) {
    margin-bottom: 40px;
}
.login-p {
    margin-top: 15px;
    color: #8A7E7E;
    font-size: 14px;
    font-weight: 500;
}
input {
    margin-top: 4px;
    width: 254.18px;
    height: 30px;
    border-radius: 6px;
    border: 1px solid #D2D2D2;
    padding: 4px;
}
#password-input {
    padding-right: 33px;
}
#eye-icon {
    width: 23px;
    height: 23px;
    position: absolute;
    margin-left: 225px;
    top: 49.37%;
    cursor: pointer;
}
.eye-icon-hide {
    background-image: url(../ICONS/hide.png);
    background-size: cover;
}
.eye-icon-visible {
    background-image: url(../ICONS/visible.png);
    background-size: cover;
}
#forgot {
    font-size: 12px;
    font-weight: 400;
    color: #8A7E7E;
    margin-left: calc(62%);
}
#privacy {
    display: flex;
}
.privacy-checkbox {
    display: grid;
    place-items: center;
    margin-top: 25px;
    width: 20px;
    height: 20px;
    border-radius: 6px;
    border: 2px solid #D2D2D2;
    cursor: pointer;
    padding: 3px;
}
.privacy-checkbox-img {
    background-image: url(../ICONS/check.png);
    background-size: cover;
    background-color: var(--purple);
    border: 0;
    outline: 0;
}
#privacy-text {
    margin-top: 19px;
    margin-left: 3px;
}
#privacy-text > p {
    color: #8A7E7E;
    font-size: 12px;
    font-weight: 500;
}
#privacy-text a {
    font-size: 11px;
    font-weight: 500;
    color: var(--purple);
}
#checkbox {
    cursor: pointer;
    margin-top: 20px;
    width: 18px;
    border-radius: 5px;
    border: 1px solid var(--light, #8A7E7E);
}
button {
    cursor: pointer;
    margin-top: 20px;
    display: flex;
    width: 100%;
    padding: 12px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: var(--purple);
    outline: 0;
    border: 0;
    color: white;
}
#img-part {
    width: 50%;
    background: url(../IMAGES/OM6UUZ0\ 1.svg), lightgray 50% / cover no-repeat;
    background-size: cover;
}
