body{
    font-family: Manrope;
}

.page-container{
    display: flex;
}

aside{
    background-color: var(--aside-color);
    width: 310px;
    height: 100%;
   
}

aside h2{
    color: var(--text-color);
    font-size: 24px;
    padding: 46px 0 62px;
    text-align: center;
}

.aside-link-item{
    position: relative;
    left: 41px;
}

.aside-link-item:first-child a{
    margin-top: 0;
}

.aside-link-item a{
    color: var(--text-color);
    display: inline-block;
    margin-top: 57px;
}

.aside-link-item a img{
    margin-right: 13px;
}

.toggle{
    margin-left: 70px;
}

.toggle p{
    color: var(--text-color);
    position: relative;
    top: 38px;
    left: 3px;
}

.toggle label{
    width: 63px;
    height: 30px;
    position: relative;
    display: block;
    background-color: var(--purple);
    border-radius: 200px;
    cursor: pointer;
    transition: 0.4s;
}

.toggle label:after{
    content: "";
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: var(--aside-color) !important;
    position: absolute;
    top: 4px;
    left: 5px;
    transition: 0.4s;
}

.toggle input{
    visibility: none;
    width: 0;
    height: 0;
}

.toggle input:checked + label{
    background-color: var(--gray);
}

.toggle input:checked + label:after{
    background-color: var(--text-color);
    left: 57px;
    transform: translateX(-100%);
}

/*page*/

.navbar{
    background-color: var(--aside-color);
}

nav{
    width: 90%;
    height: 103px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1{
    color: var(--text-color);
    font-size: 24px;
}

/*main*/

.page{
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
}

form{
    width: 90%;
    margin: 0 auto;
    position: relative;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.search_input{
    padding: 8px 253px 8px 10px;
    border-radius: 10px;
    border: none;
    background-color: var(--aside-color);
}

form span{
    position: absolute;
    z-index: 10;
    color: var(--text-color);
    top: 27px;
    left: 7px;
}

.menus{
    display: flex;
}

.sort,
.price{
    width: 133px;
    height: 40px;
    background-color: var(--aside-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--text-color);
    border-radius: 10px;
}

/*cards*/

.cards{
    width: 91%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
}

.cards .card{
    background-color: var(--aside-color);
    color: var(--text-color);
    padding-bottom: 20px;
    width: 23%;
    margin: 7px 7px;
}

.card .name{
    font-size: 12px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    margin-top: 10px;
}

.card-title{
    font-weight:700;
    margin-left: 15px;
}

.right{
    text-align: right;
    margin-right: 15px;
    font-weight: 700;
}

.card-buttons{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
}

.card-buttons a{
    padding: 7px 14px;
    color: #fff;
    border-radius: 5px;
}

.card-buttons a:first-child{
    background-color: var(--purple);
}

.card-buttons a:last-child{
    background-color: var(--aside-color);
    border: 1px solid var(--text-color);
}
.student-img {
    border-radius: 8px;
}
.me-2 {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}