*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Manrope !important;
    font-style: normal;
    line-height: normal;
    text-decoration: none !important;
    list-style: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

body{
    display: flex;
    background-color: #F6F6F6;
}
.darhTheme aside{
    background-color: var(--black);
    
}
.darhTheme header{
    background-color: var(--black);
    
}
.darhTheme{
    
    background-color: #3B323B;
    
}
.darhTheme .about-us{
    background-color: #302B2B;
    
}
.darhTheme li .icon-Dashboard{
    content:url(/icons/dashboard-icon-white.png);
}
.darhTheme li .icon-Imtahan{
    content:url(/icons/imtahanlar-icon-white.png);
}
.darhTheme li .icon-onlinevideos{
    content:url(/icons/video-play-icon-white.png);
}
.darhTheme li .icon-scoreboard{
    content:url(/icons/chart-icon-white.png);
}
.darhTheme li .icon-haqqimizda{
    content:url(/icons/stickynote.png);
}
.mathQuiz{
    height: 110px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px git ;
    font-weight: 700;
    color: var(--purple);
}

aside{
    position: sticky;
    top: 0;
    width: 310px ;
    height: 100vh;
    box-shadow: 0px 0px 40px -3px rgba(0, 0, 0, 0.15);
}
a{
    color: var(--black);
    font-size: 16px;
    font-weight: 500;
}
li{
    padding-left: 78px;
    width: 100%;
    height: 80px;
    display:flex ;
    align-items: center;
}
li .options{
    width: 194px;
    height: 47px;
    display:flex;
    align-items: center;
    border-radius: 12px;
}
li .options:hover{
    transition: all 0.3s ease-in-out !important;
    padding-left: 15px;
    background-color: #7f75ea;
    color: var(--white);
    -webkit-transition: all 0.3s ease-in-out !important;
    -moz-transition: all 0.3s ease-in-out !important;
    -ms-transition: all 0.3s ease-in-out !important;
    -o-transition: all 0.3s ease-in-out !important;
}
li #options-fifth{
    padding-left: 25px;
    background-color: #7f75ea;
    color: var(--white);
}
li #options-first:hover img{
    opacity: 0.7;
    content:url(/icons/dashboard-icon-white.png);
}
li #options-second:hover img{
    opacity: 0.7;
    content:url(/icons/imtahanlar-icon-white.png);
}
li #options-third:hover img{
    opacity: 0.7;
    content:url(/icons/video-play-icon-white.png);
}
li #options-fourth:hover img{
    opacity: 0.7;
    content:url(/icons/chart-icon-white.png);
}
li #options-fifth:hover img{
    opacity: 0.7;
    content:url(/icons/stickynote.png);
}


li .selected{
    background-color: var(--purple);
    transition: all 0.1s ease-in-out;
    padding-left: 25px;
    color: var(--white);
}

li .selected .icon-Dashboard{
    content:url(/icons/dashboard-icon-white.png);
}
li .selected .icon-Imtahan{
    content:url(/icons/imtahanlar-icon-white.png);
}
li .selected .icon-onlinevideos{
    content:url(/icons/video-play-icon-white.png);
}
li .selected .icon-scoreboard{
    content:url(/icons/chart-icon-white.png);
}
li .icon-haqqimizda{
    content:url(/icons/stickynote.png);
}

img{
    width: 24px;
    height: 24px;
}
aside span{
    margin-left: 12px;
}

.mode-changer{
    padding-left: 78px;
    height: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mode-changer p{
    font-size: 16px;
    font-weight: 500;
}
.mode-box{
    width: 63px;
    height: 30px;
    border-radius: 30px;
    margin-top: 10px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background-color: var(--gray);
    display:flex ;
    align-items: center;
    padding: 0 4px;
    display: flex;
}
.mode-box:hover{
    cursor: pointer;
}

.mode-circle{
    width: 22px;
    height: 22px;
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
    background-color: var(--white);
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
.toDarkMode{
    color: var(--white) !important;
}
.toDarkMode + .arrow-down{
    content: url(/icons/arrow-down-white.png);
}
.toDarkMode + .mode-box{
    background-color: var(--purple);
}
.toDarkMode .mode-circle{
    transform: translateX(34px);
    background-color: var(--black);
}
.toDarkMode + .separate-video{
    background-color: var(--black);
}
/* header */

header{
    display: flex;
    width: 100%;
    height: 102px;
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;
    background-color: var(--white);
    
 }
.container{
    width: calc(100% - 310px);
}
header .user{
    display: flex;
    align-items: center;
}
header h2{
    font-weight: 700;
    color: var(--black);
}
header .user img:nth-child(1){
    width: 53px;
    height: 53px;
    margin-right: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
header .user img:nth-child(1):hover{
    cursor: pointer;
}
header .user img:nth-child(3):hover{
    cursor: pointer;
}
header .user p{
    font-weight: 500;
    margin-right: 12px;
}
header .user p:hover{
    cursor: pointer;
}
main{
    padding: 20px 40px;
}


#filter-zone{
    display: flex;
    justify-content: space-between;
}
#other-part{
    display: flex;
    position: relative;
    gap: 15px;
}
#other-part input[type="text"]{
    width: 163px;
}
#other-part img:nth-child(2) {
    position: absolute;
    top: 7px;
    left: 132px;
    cursor: pointer;
}
#other-part img:nth-child(4) {
    position: absolute;
    top: 7px;
    left: 310px;
    cursor: pointer;
}
input[type="text"]{
    position: relative;
    display: flex;
    padding: 8px 33px 8px 10px;
    align-items: flex-start;
    gap: 20px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 32px -3px rgba(0, 0, 0, 0.15);
    border: 0;
    font-size: 16px;
    font-weight: 400;
}
#search-text {
    width: 360px;
}
#search-part img {
    top: 130px;
    left: 680px;
    position: absolute;
    width: 19px;
    height: 19px;
    cursor: pointer;
}


#videos-part {
    margin-top: 28px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.separate-video {
    margin-left: 30px;
    padding: 12px 0;
    width: 300px;
    height: 320px;    
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 32px -3px rgba(0, 0, 0, 0.15);
    position: relative;
}
#video-title {
    display: flex;
    color: #D44949;
    font-size: 14px;
    font-weight: 700;
    justify-content: space-between;
    margin: 5px 15px;
}
#videos-part img {
    width: 300px;
    height: 155px;
    border-radius: 10px;
}
#videos-part p:nth-child(3) {
    color: var(--black);
    font-size: 18px;
    font-weight: 700;
    margin: 0 15px;
}
#videos-part p:nth-child(4) {
    position: absolute;
    color: #D44949;
    font-size: 14px;
    font-weight: 700;
    margin: 0 15px;
    right: 0;
}
#videos-part button {
    display: inline-flex;
    padding: 7px 15px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: var(--purple);
    border: 0;
    outline: 0;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    margin: 45px 0 0 20px;
    cursor: pointer;
}